$brand-primary: #00AADD;

$text-default: #C4D1DD;
$text-light: #EEF5FB;
$text-mute: #4A637C;

$icon-default: #C4D1DD;
$icon-mute: #4A637C;

$border-default: #4A637C;
$border-dark: #034866;

$bg-default: #01202F;
$bg-light:#0C2D40;
$bg-body: #020b0f;
$bg-hover: #004E66;
$bg-disabled: #4A637C;

$font-xlg: 24px;
$font-lg: 18px;
$font-md: 14px;
$font-sm: 12px;